<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletInserirFile</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletInserirFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarFile</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletAtualizarFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarFile</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletListarFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaFile</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletConsultaFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirFile</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletExcluirFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirCliente</servlet-name>
        <servlet-class>br.com.alianz.cadastro.cliente.servlet.ServletInserirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarCliente</servlet-name>
        <servlet-class>br.com.alianz.cadastro.cliente.servlet.ServletListarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarCliente</servlet-name>
        <servlet-class>br.com.alianz.cadastro.cliente.servlet.ServletAtualizarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultarCliente</servlet-name>
        <servlet-class>br.com.alianz.cadastro.cliente.servlet.ServletConsultarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirCliente</servlet-name>
        <servlet-class>br.com.alianz.cadastro.cliente.servlet.ServletExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarCidades</servlet-name>
        <servlet-class>br.com.alianz.cadastro.cliente.servlet.ServletListarCidades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarFornecedor</servlet-name>
        <servlet-class>br.com.alianz.cadastro.fornecedor.servlet.ServletAtualizarFornecedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultarFornecedor</servlet-name>
        <servlet-class>br.com.alianz.cadastro.fornecedor.servlet.ServletConsultarFornecedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirFornecedor</servlet-name>
        <servlet-class>br.com.alianz.cadastro.fornecedor.servlet.ServletExcluirFornecedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarFornecedor</servlet-name>
        <servlet-class>br.com.alianz.cadastro.fornecedor.servlet.ServletListarFornecedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirFornecedor</servlet-name>
        <servlet-class>br.com.alianz.cadastro.fornecedor.servlet.ServletInserirFornecedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirServico</servlet-name>
        <servlet-class>br.com.alianz.cadastro.servico.servlet.ServletInserirServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarServico</servlet-name>
        <servlet-class>br.com.alianz.cadastro.servico.servlet.ServletAtualizarServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultarServico</servlet-name>
        <servlet-class>br.com.alianz.cadastro.servico.servlet.ServletConsultarServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirServico</servlet-name>
        <servlet-class>br.com.alianz.cadastro.servico.servlet.ServletExcluirServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarServico</servlet-name>
        <servlet-class>br.com.alianz.cadastro.servico.servlet.ServletListarServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarUsuario</servlet-name>
        <servlet-class>br.com.alianz.usuarios.servlet.ServletAtualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultarUsuario</servlet-name>
        <servlet-class>br.com.alianz.usuarios.servlet.ServletConsultarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirUsuario</servlet-name>
        <servlet-class>br.com.alianz.usuarios.servlet.ServletExcluirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirUsuario</servlet-name>
        <servlet-class>br.com.alianz.usuarios.servlet.ServletInserirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarUsuario</servlet-name>
        <servlet-class>br.com.alianz.usuarios.servlet.ServletListarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGravarUsuario</servlet-name>
        <servlet-class>br.com.alianz.login.servlet.ServletGravarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerificarUsuario</servlet-name>
        <servlet-class>br.com.alianz.usuarios.servlet.ServletVerificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerificarCpf</servlet-name>
        <servlet-class>br.com.alianz.cadastro.cliente.servlet.ServletVerificarCpf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerificarServico</servlet-name>
        <servlet-class>br.com.alianz.cadastro.servico.servlet.ServletVerificarServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerificarCnpj</servlet-name>
        <servlet-class>br.com.alianz.cadastro.fornecedor.servlet.ServletVerificarCnpj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirTodoFile</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletExcluirTodoFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroNumeros</servlet-name>
        <servlet-class>br.com.alianz.dashboard.servlet.ServletFiltroNumeros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletImprimirRecibo</servlet-name>
        <servlet-class>br.com.alianz.comprovante.recibo.servlet.ServletImprimirRecibo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarQuadro</servlet-name>
        <servlet-class>br.com.alianz.quadro.servlet.ServletListarQuadro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPegarServico</servlet-name>
        <servlet-class>br.com.alianz.quadro.servlet.ServletPegarServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerificarSenhaFornecedor</servlet-name>
        <servlet-class>br.com.alianz.quadro.servlet.ServletVerificarSenhaFornecedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletImprimirFechamento</servlet-name>
        <servlet-class>br.com.alianz.relatorio.fechamento.servlet.ServletImprimirFechamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarDadosCliente</servlet-name>
        <servlet-class>br.com.alianz.comprovante.recibo.servlet.ServletListarDadosCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarCidadeRecibo</servlet-name>
        <servlet-class>br.com.alianz.comprovante.recibo.servlet.ServletListarCidadeRecibo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletImprimirFatura</servlet-name>
        <servlet-class>br.com.alianz.comprovante.fatura.servlet.ServletImprimirFatura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarBancos</servlet-name>
        <servlet-class>br.com.alianz.cadastro.fornecedor.servlet.ServletListarBancos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNovoFile</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletNovoFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirNovoFile</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletInserirNovoFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarFileTopo</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletListarFileTopo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarFileTopo</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletAtualizarFileTopo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirFileTopo</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletExcluirFileTopo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGravarSessionFile</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletGravarSessionFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTestandoRecibo</servlet-name>
        <servlet-class>br.com.alianz.comprovante.recibo.servlet.ServletTestandoRecibo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFecharFile</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletFecharFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultarFechado</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletConsultarFechado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletImprimirNovoRelatorio</servlet-name>
        <servlet-class>br.com.alianz.relatorio.fechamento.servlet.ServletImprimirNovoRelatorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAbrirFile</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletAbrirFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultarFileAberto</servlet-name>
        <servlet-class>br.com.alianz.relatorio.fechamento.servlet.ServletConsultarFileAberto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNumerosMegaSena</servlet-name>
        <servlet-class>br.com.alianz.loteria.mega.ServletNumerosMegaSena</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarResultado</servlet-name>
        <servlet-class>br.com.alianz.loteria.mega.ServletAtualizarResultado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaFileTopo</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletConsultaFileTopo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletImprimirIndividual</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletImprimirIndividual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerificarClassificacao</servlet-name>
        <servlet-class>br.com.alianz.cadastro.cliente.servlet.ServletVerificarClassificacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletImprimirFat</servlet-name>
        <servlet-class>br.com.alianz.comprovante.fatura.servlet.ServletImprimirFat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCielo</servlet-name>
        <servlet-class>br.com.alianz.comprovante.recibo.servlet.ServletCielo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCieloTeste</servlet-name>
        <servlet-class>br.com.alianz.comprovante.recibo.servlet.ServletCieloTeste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultarNocitica</servlet-name>
        <servlet-class>br.com.alianz.cadastro.noticias.servlet.ServletConsultarNocitica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirNoticia</servlet-name>
        <servlet-class>br.com.alianz.cadastro.noticias.servlet.ServletExcluirNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirNoticia</servlet-name>
        <servlet-class>br.com.alianz.cadastro.noticias.servlet.ServletInserirNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarNoticia</servlet-name>
        <servlet-class>br.com.alianz.cadastro.noticias.servlet.ServletAtualizarNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarNoticia</servlet-name>
        <servlet-class>br.com.alianz.cadastro.noticias.servlet.ServletListarNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarUltimasNoticias</servlet-name>
        <servlet-class>br.com.alianz.cadastro.noticias.servlet.ServletListarUltimasNoticias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarFileInicio</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletListarFileInicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirOS</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletInserirOS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultarOS</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletConsultarOS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletImprimirOS</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletImprimirOS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultarCriador</servlet-name>
        <servlet-class>br.com.alianz.file.servlet.ServletConsultarCriador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirLinks</servlet-name>
        <servlet-class>br.com.alianz.cadastro.noticias.servlet.ServletInserirLinks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultarLink</servlet-name>
        <servlet-class>br.com.alianz.cadastro.noticias.servlet.ServletConsultarLink</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarTransfer</servlet-name>
        <servlet-class>br.com.alianz.cadastro.transfer.servlet.ServletListarTransfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirTransfer</servlet-name>
        <servlet-class>br.com.alianz.cadastro.transfer.servlet.ServletInserirTransfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultarTransfer</servlet-name>
        <servlet-class>br.com.alianz.cadastro.transfer.servlet.ServletConsultarTransfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarTransfer</servlet-name>
        <servlet-class>br.com.alianz.cadastro.transfer.servlet.ServletAtualizarTransfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirTransfer</servlet-name>
        <servlet-class>br.com.alianz.cadastro.transfer.servlet.ServletExcluirTransfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarQuadroTransfer</servlet-name>
        <servlet-class>br.com.alianz.cadastro.transfer.servlet.ServletListarQuadroTransfer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletInserirFile</servlet-name>
        <url-pattern>/ServletInserirFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarFile</servlet-name>
        <url-pattern>/ServletAtualizarFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarFile</servlet-name>
        <url-pattern>/ServletListarFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaFile</servlet-name>
        <url-pattern>/ServletConsultaFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirFile</servlet-name>
        <url-pattern>/ServletExcluirFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirCliente</servlet-name>
        <url-pattern>/ServletInserirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarCliente</servlet-name>
        <url-pattern>/ServletListarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarCliente</servlet-name>
        <url-pattern>/ServletAtualizarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultarCliente</servlet-name>
        <url-pattern>/ServletConsultarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirCliente</servlet-name>
        <url-pattern>/ServletExcluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarCidades</servlet-name>
        <url-pattern>/ServletListarCidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarFornecedor</servlet-name>
        <url-pattern>/ServletAtualizarFornecedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultarFornecedor</servlet-name>
        <url-pattern>/ServletConsultarFornecedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirFornecedor</servlet-name>
        <url-pattern>/ServletExcluirFornecedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarFornecedor</servlet-name>
        <url-pattern>/ServletListarFornecedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirFornecedor</servlet-name>
        <url-pattern>/ServletInserirFornecedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirServico</servlet-name>
        <url-pattern>/ServletInserirServico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarServico</servlet-name>
        <url-pattern>/ServletAtualizarServico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultarServico</servlet-name>
        <url-pattern>/ServletConsultarServico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirServico</servlet-name>
        <url-pattern>/ServletExcluirServico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarServico</servlet-name>
        <url-pattern>/ServletListarServico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarUsuario</servlet-name>
        <url-pattern>/ServletAtualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultarUsuario</servlet-name>
        <url-pattern>/ServletConsultarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirUsuario</servlet-name>
        <url-pattern>/ServletExcluirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirUsuario</servlet-name>
        <url-pattern>/ServletInserirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarUsuario</servlet-name>
        <url-pattern>/ServletListarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGravarUsuario</servlet-name>
        <url-pattern>/ServletGravarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerificarUsuario</servlet-name>
        <url-pattern>/ServletVerificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerificarCpf</servlet-name>
        <url-pattern>/ServletVerificarCpf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerificarServico</servlet-name>
        <url-pattern>/ServletVerificarServico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerificarCnpj</servlet-name>
        <url-pattern>/ServletVerificarCnpj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirTodoFile</servlet-name>
        <url-pattern>/ServletExcluirTodoFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroNumeros</servlet-name>
        <url-pattern>/ServletFiltroNumeros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletImprimirRecibo</servlet-name>
        <url-pattern>/ServletImprimirRecibo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarQuadro</servlet-name>
        <url-pattern>/ServletListarQuadro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPegarServico</servlet-name>
        <url-pattern>/ServletPegarServico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerificarSenhaFornecedor</servlet-name>
        <url-pattern>/ServletVerificarSenhaFornecedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletImprimirFechamento</servlet-name>
        <url-pattern>/ServletImprimirFechamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarDadosCliente</servlet-name>
        <url-pattern>/ServletListarDadosCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarCidadeRecibo</servlet-name>
        <url-pattern>/ServletListarCidadeRecibo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletImprimirFatura</servlet-name>
        <url-pattern>/ServletImprimirFatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarBancos</servlet-name>
        <url-pattern>/ServletListarBancos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNovoFile</servlet-name>
        <url-pattern>/ServletNovoFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirNovoFile</servlet-name>
        <url-pattern>/ServletInserirNovoFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarFileTopo</servlet-name>
        <url-pattern>/ServletListarFileTopo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarFileTopo</servlet-name>
        <url-pattern>/ServletAtualizarFileTopo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirFileTopo</servlet-name>
        <url-pattern>/ServletExcluirFileTopo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGravarSessionFile</servlet-name>
        <url-pattern>/ServletGravarSessionFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTestandoRecibo</servlet-name>
        <url-pattern>/ServletTestandoRecibo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFecharFile</servlet-name>
        <url-pattern>/ServletFecharFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultarFechado</servlet-name>
        <url-pattern>/ServletConsultarFechado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletImprimirNovoRelatorio</servlet-name>
        <url-pattern>/ServletImprimirNovoRelatorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAbrirFile</servlet-name>
        <url-pattern>/ServletAbrirFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultarFileAberto</servlet-name>
        <url-pattern>/ServletConsultarFileAberto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNumerosMegaSena</servlet-name>
        <url-pattern>/ServletNumerosMegaSena</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarResultado</servlet-name>
        <url-pattern>/ServletAtualizarResultado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaFileTopo</servlet-name>
        <url-pattern>/ServletConsultaFileTopo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletImprimirIndividual</servlet-name>
        <url-pattern>/ServletImprimirIndividual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerificarClassificacao</servlet-name>
        <url-pattern>/ServletVerificarClassificacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletImprimirFat</servlet-name>
        <url-pattern>/ServletImprimirFat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCielo</servlet-name>
        <url-pattern>/ServletCielo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCieloTeste</servlet-name>
        <url-pattern>/ServletCieloTeste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultarNocitica</servlet-name>
        <url-pattern>/ServletConsultarNocitica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirNoticia</servlet-name>
        <url-pattern>/ServletExcluirNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirNoticia</servlet-name>
        <url-pattern>/ServletInserirNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarNoticia</servlet-name>
        <url-pattern>/ServletAtualizarNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarNoticia</servlet-name>
        <url-pattern>/ServletListarNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarUltimasNoticias</servlet-name>
        <url-pattern>/ServletListarUltimasNoticias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarFileInicio</servlet-name>
        <url-pattern>/ServletListarFileInicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirOS</servlet-name>
        <url-pattern>/ServletInserirOS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultarOS</servlet-name>
        <url-pattern>/ServletConsultarOS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletImprimirOS</servlet-name>
        <url-pattern>/ServletImprimirOS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultarCriador</servlet-name>
        <url-pattern>/ServletConsultarCriador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirLinks</servlet-name>
        <url-pattern>/ServletInserirLinks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultarLink</servlet-name>
        <url-pattern>/ServletConsultarLink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarTransfer</servlet-name>
        <url-pattern>/ServletListarTransfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirTransfer</servlet-name>
        <url-pattern>/ServletInserirTransfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultarTransfer</servlet-name>
        <url-pattern>/ServletConsultarTransfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarTransfer</servlet-name>
        <url-pattern>/ServletAtualizarTransfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirTransfer</servlet-name>
        <url-pattern>/ServletExcluirTransfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarQuadroTransfer</servlet-name>
        <url-pattern>/ServletListarQuadroTransfer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
